@import "../../css/style.css";

.grid {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "one two two three"
    "one four five six"
    "one seven eight six";
  padding: 1rem;
  background-color: var(--bg-primary);
}

.grid > * {
  padding: 0.8rem;
}

.grid-item-1 {
  grid-area: one;
  background-color: aqua;
}
.grid-item-2 {
  grid-area: two;
  background-color: beige;
}
.grid-item-3 {
  grid-area: three;
  background-color: blue;
}
.grid-item-4 {
  grid-area: four;
  background-color: brown;
}
.grid-item-5 {
  grid-area: five;
  background-color: chartreuse;
}
.grid-item-6 {
  grid-area: six;
  background-color: crimson;
}
.grid-item-7 {
  grid-area: seven;
  background-color: cyan;
}
.grid-item-8 {
  grid-area: eight;
  background-color: deeppink;
}
